
paragrafo1 {
    color: aqua;
    text-align: center;
    
}
h1{
    text-align: center;
    color: blue;
    text-align: center;
}
h2{
    font-size:center 20px;
    color: brown;
    text-align: center;
}