
paragrafo1 {
    color: aqua;
    text-align: center;

}
h1{
    text-align: center;
    color:rgb(0,0,205);
    text-align: center;
}
h2{
    font-size:center 20px;
    color: #C23373;
    text-align: center;
}